*.yml
*.yaml
*.pem
*.sh
*.md
*.html
*.png
*.patch
*.svg
*.jpeg
*.ttf
ios/**
android/**
src/icons/**
src/assets/images/**
src/animation/**
packages/**
build/scripts/**
Gemfile
node_modules/
.bundle/
metro.config.js
.eslintrc.js
ReactotronConfig.js
dynatrace.config.js
index.js
*.json
*.snap